In [1]:
import pandas as pd
path = r"D:\KTyagi\KT\Python_Workspace\DataScience\Malnourishment_Prediction.xlsx"
df = pd.read_excel(path)
df

,NAME,AGE,EMAIL,ADDRESS,CONTACT,HEIGHT,WEIGHT,BMI,FAT_CONTAINS,MALNOURISHED
0,Karishma,23,kats21f@gmail.com,Pune,1.234568e+09,157.0,56.0,22.4,31.00,0
1,Ankit,24,ideal12ankit@gmail.com,Mumbai,9.876543e+09,180.0,75.0,21.0,12.50,0
2,Diksha,25,01mktyagi@gmail.com,Agra,NaN,132.0,99.0,56.8,43.00,0
3,Yamini,34,kats21f@gmail.com,Jaipur,9.876543e+09,145.0,112.0,53.3,13.40,0
4,Ram,45,ideal12ankit@gmail.com,Bangalore,9.876543e+09,NaN,34.0,14.3,17.90,1
5,Sham,56,01mktyagi@gmail.com,Chennai,9.876543e+09,157.0,45.0,18.3,9.80,1
6,Geeta,67,kats21f@gmail.com,Ludhiyana,9.876543e+09,166.0,44.0,16.0,2.70,1
7,Seeta,78,ideal12ankit@gmail.com,Ajmer,9.876543e+09,176.0,NaN,12.9,15.88,1
8,Shital,89,01mktyagi@gmail.com,Ambala,9.876543e+09,144.0,22.0,10.6,39.00,1
9,Sonia,12,kats21f@gmail.com,Delhi,9.876543e+09,160.0,50.0,19.5,32.00,1
10,Darshan,25,ideal12ankit@gmail.com,Noida,9.876543e+09,155.0,41.0,NaN,26.00,1
11,Shweta,28,01mktyagi@gmail.com,Gurugram,9.876543e+09,122.0,36.0,24.2,21.01,0
12,Rasika,98,kats21f@gmail.com,Barelly,9.876543e+09,167.0,50.0,17.9,54.70,1
13,Chirag,43,ideal12ankit@gmail.com,Kolkata,9.876543e+09,172.0,66.0,22.3,NaN,0
14,Mansi,65,01mktyagi@gmail.com,Patna,9.876543e+09,155.0,35.0,14.6,28.00,1
15,Arpit,72,kats21f@gmail.com,Mumbai,9.876543e+09,165.0,43.0,15.8,21.00,1
16,Akshit,41,ideal12ankit@gmail.com,NaN,9.876543e+09,172.0,98.0,33.1,12.00,0
17,Ashu,30,01mktyagi@gmail.com,Delhi,9.876543e+09,140.0,58.0,29.6,8.00,0
18,Kesari,9,kats21f@gmail.com,Jaisalmer,9.876543e+09,120.0,15.0,10.4,3.00,1
19,Preet,15,NaN,Ajmer,9.876543e+09,140.0,35.0,17.9,11.00,1

In [2]:
desc_data = df.describe()
desc_data


#desc_data.loc['mean','HEIGHT']

C:\Users\ktyagi\AppData\Local\Continuum\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3826: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

,AGE,CONTACT,HEIGHT,WEIGHT,BMI,FAT_CONTAINS,MALNOURISHED
count,20.000000,1.900000e+01,19.000000,19.000000,19.000000,19.000000,20.000000
mean,43.950000,9.421702e+09,153.947368,53.368421,22.678947,21.152105,0.600000
std,26.368791,1.982605e+09,17.535595,26.264066,12.820148,14.020649,0.502625
min,9.000000,1.234568e+09,120.000000,15.000000,10.400000,2.700000,0.000000
25%,24.750000,NaN,NaN,NaN,NaN,NaN,0.000000
50%,37.500000,NaN,NaN,NaN,NaN,NaN,1.000000
75%,65.500000,NaN,NaN,NaN,NaN,NaN,1.000000
max,98.000000,9.876543e+09,180.000000,112.000000,56.800000,54.700000,1.000000

In [3]:
l1 = df.columns
l1

Index(['NAME', 'AGE', 'EMAIL', 'ADDRESS', 'CONTACT', 'HEIGHT', 'WEIGHT', 'BMI',
       'FAT_CONTAINS', 'MALNOURISHED'],
      dtype='object')

In [4]:
for i in  l1:
    if(i == 'AGE'):
        df[i] = df[i].fillna(0)
    #elif(i == 'EMAIL'):
     #   df[i] = df[i].fillna(desc_data.loc['mean',i])
    #elif(i == 'ADDRESS'):
     #   df[i] = df[i].fillna(desc_data.loc['mean',i])
    elif(i == 'CONTACT'):
        df[i] = df[i].fillna(0)
    elif(i == 'HEIGHT'):
        df[i] = df[i].fillna(0)
    elif(i == 'WEIGHT'):
        df[i] = df[i].fillna(0)
    elif(i == 'BMI'):
        df[i] = df[i].fillna(0)
    elif(i == 'FAT_CONTAINS'):
        df[i] = df[i].fillna(0)

In [5]:
df

,NAME,AGE,EMAIL,ADDRESS,CONTACT,HEIGHT,WEIGHT,BMI,FAT_CONTAINS,MALNOURISHED
0,Karishma,23,kats21f@gmail.com,Pune,1.234568e+09,157.0,56.0,22.4,31.00,0
1,Ankit,24,ideal12ankit@gmail.com,Mumbai,9.876543e+09,180.0,75.0,21.0,12.50,0
2,Diksha,25,01mktyagi@gmail.com,Agra,0.000000e+00,132.0,99.0,56.8,43.00,0
3,Yamini,34,kats21f@gmail.com,Jaipur,9.876543e+09,145.0,112.0,53.3,13.40,0
4,Ram,45,ideal12ankit@gmail.com,Bangalore,9.876543e+09,0.0,34.0,14.3,17.90,1
5,Sham,56,01mktyagi@gmail.com,Chennai,9.876543e+09,157.0,45.0,18.3,9.80,1
6,Geeta,67,kats21f@gmail.com,Ludhiyana,9.876543e+09,166.0,44.0,16.0,2.70,1
7,Seeta,78,ideal12ankit@gmail.com,Ajmer,9.876543e+09,176.0,0.0,12.9,15.88,1
8,Shital,89,01mktyagi@gmail.com,Ambala,9.876543e+09,144.0,22.0,10.6,39.00,1
9,Sonia,12,kats21f@gmail.com,Delhi,9.876543e+09,160.0,50.0,19.5,32.00,1
10,Darshan,25,ideal12ankit@gmail.com,Noida,9.876543e+09,155.0,41.0,0.0,26.00,1
11,Shweta,28,01mktyagi@gmail.com,Gurugram,9.876543e+09,122.0,36.0,24.2,21.01,0
12,Rasika,98,kats21f@gmail.com,Barelly,9.876543e+09,167.0,50.0,17.9,54.70,1
13,Chirag,43,ideal12ankit@gmail.com,Kolkata,9.876543e+09,172.0,66.0,22.3,0.00,0
14,Mansi,65,01mktyagi@gmail.com,Patna,9.876543e+09,155.0,35.0,14.6,28.00,1
15,Arpit,72,kats21f@gmail.com,Mumbai,9.876543e+09,165.0,43.0,15.8,21.00,1
16,Akshit,41,ideal12ankit@gmail.com,NaN,9.876543e+09,172.0,98.0,33.1,12.00,0
17,Ashu,30,01mktyagi@gmail.com,Delhi,9.876543e+09,140.0,58.0,29.6,8.00,0
18,Kesari,9,kats21f@gmail.com,Jaisalmer,9.876543e+09,120.0,15.0,10.4,3.00,1
19,Preet,15,NaN,Ajmer,9.876543e+09,140.0,35.0,17.9,11.00,1

In [6]:
malnourish_param = ['AGE','HEIGHT','WEIGHT','BMI','FAT_CONTAINS']

In [7]:
X = df[malnourish_param]
Y = df.MALNOURISHED
print (X)
print ('\n\n',Y)

    AGE  HEIGHT  WEIGHT   BMI  FAT_CONTAINS
0    23   157.0    56.0  22.4         31.00
1    24   180.0    75.0  21.0         12.50
2    25   132.0    99.0  56.8         43.00
3    34   145.0   112.0  53.3         13.40
4    45     0.0    34.0  14.3         17.90
5    56   157.0    45.0  18.3          9.80
6    67   166.0    44.0  16.0          2.70
7    78   176.0     0.0  12.9         15.88
8    89   144.0    22.0  10.6         39.00
9    12   160.0    50.0  19.5         32.00
10   25   155.0    41.0   0.0         26.00
11   28   122.0    36.0  24.2         21.01
12   98   167.0    50.0  17.9         54.70
13   43   172.0    66.0  22.3          0.00
14   65   155.0    35.0  14.6         28.00
15   72   165.0    43.0  15.8         21.00
16   41   172.0    98.0  33.1         12.00
17   30   140.0    58.0  29.6          8.00
18    9   120.0    15.0  10.4          3.00
19   15   140.0    35.0  17.9         11.00


 0     0
1     0
2     0
3     0
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    0
12    1
13    0
14    1
15    1
16    0
17    0
18    1
19    1
Name: MALNOURISHED, dtype: int64

In [8]:
from sklearn.cross_validation import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(X, Y ,test_size = 0.25)

In [9]:
xtrain

    AGE  HEIGHT  WEIGHT   BMI  FAT_CONTAINS
16   41   172.0    98.0  33.1         12.00
9    12   160.0    50.0  19.5         32.00
2    25   132.0    99.0  56.8         43.00
18    9   120.0    15.0  10.4          3.00
13   43   172.0    66.0  22.3          0.00
11   28   122.0    36.0  24.2         21.01
12   98   167.0    50.0  17.9         54.70
14   65   155.0    35.0  14.6         28.00
19   15   140.0    35.0  17.9         11.00
8    89   144.0    22.0  10.6         39.00
5    56   157.0    45.0  18.3          9.80
4    45     0.0    34.0  14.3         17.90
6    67   166.0    44.0  16.0          2.70
10   25   155.0    41.0   0.0         26.00
15   72   165.0    43.0  15.8         21.00

In [10]:
xtest

    AGE  HEIGHT  WEIGHT   BMI  FAT_CONTAINS
7    78   176.0     0.0  12.9         15.88
3    34   145.0   112.0  53.3         13.40
1    24   180.0    75.0  21.0         12.50
17   30   140.0    58.0  29.6          8.00
0    23   157.0    56.0  22.4         31.00

In [11]:
ytrain

16    0
9     1
2     0
18    1
13    0
11    0
12    1
14    1
19    1
8     1
5     1
4     1
6     1
10    1
15    1
Name: MALNOURISHED, dtype: int64

In [12]:
ytest

7     1
3     0
1     0
17    0
0     0
Name: MALNOURISHED, dtype: int64

In [13]:
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression()

logReg.fit(xtrain, ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [14]:
y_pred = logReg.predict(xtest)

In [15]:
y_pred

array([1, 0, 1, 0, 1], dtype=int64)

In [16]:
ytest

7     1
3     0
1     0
17    0
0     0
Name: MALNOURISHED, dtype: int64

In [17]:
from sklearn import metrics
print (round(metrics.accuracy_score(ytest, y_pred) * 100))

60.0

## Accuracy gets hampered if we fill any constant in place of NaN values.
### If those NaN rows gets considerd in training dataset.

# CONFUSION MATRIX

In [28]:
print ('Wrongly predicted rows count: ')
print ((ytest != y_pred) .sum())

print ('Correctly predicted rows count: ')
print ((ytest == y_pred) .sum())

Wrongly predicted rows count:
2
Correctly predicted rows count:
3

In [29]:
print (metrics.confusion_matrix(ytest,y_pred))

[[2 2]
 [0 1]]